/* Facebook */


body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: #E9EBEE !important;
  padding-top: 35px !important;
}


a {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
}

h4 {
  color: #385898;
}

img {
  border: 1px solid rgba(0, 0, 0, .1);
}

#header {
  background: #4267B2 !important;
  border-bottom: none !important;
  height: auto !important;
  -webkit-box-shadow: 0 0 4px 0 #00000077 !important;
          box-shadow: 0 0 4px 0 #00000077 !important;
  padding: 8px !important;
}


#header span:last-child::after {
  content: " and join Facebook!";
  color: #00ff82;
  color: #fff;
}

#hSub {
  background: none !important;
  border-bottom: 1px solid #29487d;
  left: 130px !important;
  top: 11px !important;
  color: rgba(0, 0, 0, .1) !important;
}

#hSub a {
  padding: 0 5px 0 5px;
}

.logo b span {
  display: none;
}

.logo b:before {
  font-size: 24px;
  content: "facebook";
  color: #fff;
  font-weight: bold;
}


.topLeft, .topRight {
  float: none !important;
  width: auto !important;
}


.short {
  display: block;
  width: 100%;
  height: 240px !important;
  height: unset;
  background: url("https://scontent.faal2-1.fna.fbcdn.net/v/t31.0-0/c0.62.960.355a/p480x480/19575079_10103832396388711_8894816584589808440_o.jpg?_nc_cat=109&_nc_oc=AQmzPK-yBr8SDHyYGSNnRTAJoqMC8ss7OLihcGgLmJqegtQSz7rzLE-4Z3vyTBsSdak&_nc_ht=scontent.faal2-1.fna&oh=657b28e08742dfa814f7c8f7a3d3c77c&oe=5E12A228") !important;
  text-shadow: 0 0 6px #000, 0 0 3px #000;
  color: #fff;
  border: 1px solid #dddfe2 !important;
}

.box > * {
  padding: 5px 10px;
}

.url.box div:first-child b {
  color: transparent;
  width: 0px;
}

.url.box div:first-child {
  padding: 0;
}



.fwiendCount {
  color: #385898;
}

.fwiendCount:before {
  content: "at least 50 billion and ";
  color: #385898;
}

.url.box div:first-child b:before {
  background: #f5f6f7;
  content: "Not facebook URL";
  color: #4b4f56;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #dddfe2;
}

.short tbody {
  position: relative;
  top: 30px;
  left: 15px;
  float: left;
}

.shortRight {
  position: relative;
  top: -28px;
  right: 10px;
  font-size: 14px;
}

.topLeft div:first-child {
  position: relative;
  display: inline-block;
  height: 0;
  float: left;
  top: 172px;
  right: -243px;
  margin: 0 auto;
}

#name {
  color: #fff;
  text-shadow: 0 0 3px #000;
  font-weight: 100;
  font-size: 24px;
}

#avatar {
  border-radius: 150px;
  border: 5px solid #fff;
}

.blurbs, #top, #box, .box {
  background: #fff;
  border: 1px solid #dddfe2 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rightHead, .boxHead {
  background: #f5f6f7;
  color: #4b4f56;
  border-bottom: 1px solid #dddfe2;
  padding: 10px;
  font-size: 13px;
}

.tableLeft, .tableRight {
  background: none;
}
