@import url("https://fonts.googleapis.com/css?family=Vibur&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");


html {
  background: #13181C !important;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(135deg, #191919, #222);
  background: linear-gradient(-45deg, #191919, #222);
  -webkit-animation: pageAnimation 10s ease 1;
          animation: pageAnimation 10s ease 1;
  background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1") !important;
}

body {
  background: none;
  max-width: 975px;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-size: 400%;
}

a {
  color: #1F7DE1;
}

span, b {
  color: #1F7DE1;
}

* {
  font-weight: 100;
  color: #1F7DE1;
  font-family: "Ubuntu", sans-serif !important;
}

h4 {
  color: #444;
}

#header {
  border-radius: 8px 8px 0 0;
}

#header, #hSub {
  background: #212121 !important;
  padding: 6px !important;
  background: #1b1b1b !important;
  border-bottom: 1px solid #242424 !important;
  position: absolute !important;
  width: calc(100% - 12px ) !important;
}


.topRight {
  margin-top: 20px;
}


#hSub {
  background: -o-linear-gradient(45deg, #1f6f92bb, #113fb933) !important;
  background: linear-gradient(45deg, #1f6f92bb, #113fb933) !important;
  color: #fff !important;
  border-radius: 3px !important;
  padding: 7px !important;
  -webkit-box-shadow: 0 0px 33px 1px #000;
          box-shadow: 0 0px 33px 1px #000;
  -webkit-animation: bgAnimation 6s ease infinite;
          animation: bgAnimation 6s ease infinite;
  background-size: 400% !important;
}

.boxHead, .rightHead {
  color: #fff;
  background: none;
  border-radius: 3px;
  padding: 3px;
}

.boxButton {
  color: #333;
}

.fwiendCount {
  color: #666;
}

#userWall * {
  background: none;
}

#commentInput {
  background: #222;
  border: 1px solid #333;
}


#avatar {
  display: none;
}

#name {
  font-size: 80px;
  line-height: 80px;
  margin: 40px 0;
  color: #c6e2ff;
  -webkit-animation: neon .08s ease-in-out infinite alternate;
          animation: neon .08s ease-in-out infinite alternate;
  font-family: "Vibur", cursive !important;
  height: 180px !important;
  width: 250px !important;
}

#name:after {
  content: "'s Lounge";
  -webkit-animation: spell 5s ease-in-out infinite;
          animation: spell 5s ease-in-out infinite;
}

.blurbs, #top, #box, .box, #header, #hSub, .player.box {
  color: black;
  padding: 10px;
  blox-shadow: 1px 0 #000,0 1px #000,1px 1px #000,inset 1px 1px #fff,0 0 150px 1px rgba(255,0,255,.5);
  -webkit-box-shadow: 1px 0 #000, 0 1px #000, 1px 1px #000, inset 1px 1px #222;
          box-shadow: 1px 0 #000, 0 1px #000, 1px 1px #000, inset 1px 1px #222;
  background: #19191966;
  border-right: 1px solid #2a2a2a aa;
  border-bottom: 1px solid #222 aa;
  color: #000;
}


@-webkit-keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}


@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

@-webkit-keyframes spell {
  0% {
    content: "";
  }
  5% {
    content: "'";
  }
  10% {
    content: "'s";
  }
  15% {
    content: "'s L";
  }
  20% {
    content: "'s Lo";
  }
  25% {
    content: "'s Lou";
  }
  30% {
    content: "'s Loun";
  }
  35% {
    content: "'s Loung";
  }
  40%, 100% {
    content: "'s Lounge";
  }
}

@keyframes spell {
  0% {
    content: "";
  }
  5% {
    content: "'";
  }
  10% {
    content: "'s";
  }
  15% {
    content: "'s L";
  }
  20% {
    content: "'s Lo";
  }
  25% {
    content: "'s Lou";
  }
  30% {
    content: "'s Loun";
  }
  35% {
    content: "'s Loung";
  }
  40%, 100% {
    content: "'s Lounge";
  }
}